* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  color: white;
}

/* Navbar Style CSS Start */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(215, 149, 26);
  color: #000000;
  width: 100vw;
  height: 10vh;
  padding: 0px 50px;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
  position: fixed;
}

.navbar .title {
  display: flex;
  flex-direction: row;
}

.navbar .title img {
  width: 20px;
  height: 20px;
}

.navbar .title h1 {
  font-size: 1.5em;
  font-weight: 500;
}

.navbar .navbar-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 7px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.navbar .navbar-menu a:hover {
  color: #111111;
  width: 30px;
  height: 30px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.navbar .beside-navbar img {
  display: none;
}

.navbar .beside-navbar img:hover {
  color: #fff;
  transition: .5s;
}
/* Navbar Style CSS End */

/* Home Style CSS Start */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  color: #111111;
  background-color: rgb(227, 153, 15);
  padding: 0px 100px;
  right: 0;
  left: 0;
  bottom: 0;
}

.home div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin: 0.2rem 0.5rem; */
}

.home div .information {
  display: flex;
  flex-direction: column;
}

.home div .information h1 {
  font-size: 1.8rem;
}

.home div .information div {
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
}

.home div .information div div {
  border-radius: 50%;
  border: 2px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.home div .information div div img {
  max-width: 30px;
  max-height: 30px;
  margin: 10px;
}

.home div .information p {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.7);
}

#first-person,
#second-person {
  color: rgba(255, 255, 255, 0.904);
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  margin: 0 0px -50vh 0;
  padding: 0;
  left: -100px;
  right: 0;
  bottom: 0;
}

.aboutus {
  background-color: #ffffff;
  margin-top: 30px;
  width: 100%;
  height: 100vh;
}

.aboutus div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0px 250px;
}

.aboutus .head {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 10px 160px;
}

.aboutus .head h1 {
  font-size: 2rem;
  color: #111111;
}

.aboutus .isi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0px 30px;
  padding: 20px 160px;
}

.aboutus .isi p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: black;
  font-size: 1.4rem;
  padding: 0 150px;
}

.aboutus .isi img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
  max-width: 600px;
  max-height: 500px;
  padding: 0 100px;
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
  height: 100vh;
  background-color: #e3990f;
}

.profile h1 {
  font-size: 2rem;
  margin: 50px 0px 30px 520px;
}

.profile .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20px;
  padding: 0 100px;
}

.profile .cards main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0.7rem 0px 0px;
  padding: 40px;
  color: #111111;
  max-width: 250px;
  max-height: 300px;
  border-radius: 5%;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px;
}

.profile .title {
  margin-top: 20px;
}

#yazid-img {
  border-radius:10%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#abiy-img {
  border-radius: 10%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* contact start/ */
.contact {
margin-top: 100px;
width: 210vh;
height: 795px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
/* outline: black 1px solid; */
}

.form {
  width: 790px;
  height: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 5%;
  background-color: #e3990f;
}
/* contact end */

/* Home Style CSS End */

/* Media Queries Start */

@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 900px) {
  /* .jumbotron-2 {
    width: 100%;
    margin-top: -79px;
    margin-left: -300px;
    top: 0;
    left: -100px;
    right: 0;
  } */
}

@media (max-width: 768px) {
  html {
    font-size: 85%;
  }

  .home div {
    display: flex;
    flex-direction: column;
  }

  .home div .information {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .navbar-menu {
    position: absolute;
    right: -100%;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.904);
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  .navbar .navbar-menu.active {
    right: 0;
  }

  .navbar .navbar-menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4em;
    font-size: 1.5em;
    color: #111111;
  }

  .navbar .navbar-menu a:hover {
    width: 100%;
    height: 5%;
    color: rgba(255, 255, 255, 0.904);
    background-color: #111111;
  }

  .navbar .beside-navbar img {
    display: flex;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 65%;
  }

}

/* Media Queries End */
